:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #111;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #0066ec;
  --success-color: #00c477;
  --warning-color: #ffa900;
  --error-color: #FF4141;
  --border-color: #d9d9d9;
  --text-color: #3d3d3d;
  --pd: 2.5rem;
}

html,
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}


.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

.pd {
  padding: var(--pd);
}

.pd-l {
  padding-left: var(--pd);
}

.pd-r {
  padding-right: var(--pd);
}

.pd-lr {
  padding-left: var(--pd);
  padding-right: var(--pd);
}

.font-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.font-2 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.page-title {
  padding: 1.5rem 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

.page-title::before {
  content: "";
  float: left;
  margin-top: 1px;
  margin-right: 10px;
  width: 4px;
  height: 18px;
  vertical-align: middle;
  background-color: #0284fe;
  border-radius: 0 3px 3px 0;
}

.my-card {
  padding: 1.5rem;
  border-radius: 1.6rem;
  box-shadow: 0 0.4rem 1rem rgba(172, 208, 255, 0.2);
  background-color: #fff;
  border: 1px solid #fff;
}

.my-list {
  margin-bottom: 0.8rem;
  padding: 12px;
  background-color: #fff;
  box-shadow: 0 0.4rem 1rem #eaf5ff;
}

/* 通用数据列表响应式布局 */
.common-media-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;  
  width: 100%;
}

.common-media-content {
  flex: 1;
}

.common-media-handle {
  display: flex;
  flex-direction: column;
  line-height: 14px;

  min-width: 5rem;

}

.common-media-handle .iconfont {
  margin-right: .5rem;
  font-size: 14px;
}

.common-media-handle .handle-item {
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  color: var(--primary-color);
  font-size: 12px;
  background-color: #f1f7ff;

}

.common-media-handle .handle-item:not(:first-child) {
  margin-top: 0.6rem;
}

.common-media-handle .handle-item-text {
  display: inline-block;
  padding: 1rem 1.5rem;
  color: var(--primary-color);
}

@media screen and (max-width: 480px) {
  .common-media-wrap .common-media-handle {
    display: block;
    margin-top: 1rem;
    width: 100%;
    text-align: right;
  }

  .common-media-wrap .common-media-handle .handle-item {
    margin-left: 1rem;
    padding: 1.2rem 1.8rem;
  }
}