.qualificationMange {
  display: flex;

  .qualificationMange-left {
    flex: 1;
    padding-right: 16px;
    overflow: hidden;
  }

  .qualificationMange-handler {
    width: 4px;
    border-left: solid 1px #e2e2e2;
  }

  .qualificationMange-right {
    width: 40%;
    padding-left: 16px;
  }
}