.sampleScanRecord {
  .hitek-form-layout {
    margin-bottom: 15px;
  }

  .sampleScanRecord-search {
    margin-bottom: 10px;
    padding-left: 10px;
  }

  :deep(.ant-table) {
    margin-top: 15px;
  }
}
.hitek-form-layout-label{
  width: 100px !important;
}