.userBasicInfo {
    .ant-tabs-tab {
        border-right: solid 5px transparent;
    }

    .ant-tabs-tab-active {
        background: #e6f7ff;
        color: #1890ff;
        border-right: solid 5px #1890ff;
    }

    .userBasicInfo-title {
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }
}

.userBasicInfo-setting-modal {
    .ant-modal-body {
        height: 180px;
    }
}

.userBasicInfo-account-modal {
    iframe {
        height: 260px;
    }
}