.task-status-marker-wrap {
  .ant-space .ant-btn {
    padding: 5px;
  }
  button[danger] {
    color: #f35555;
  }

  .marker-style{
    padding: 3px 8px;
    color:#fff;
    border-radius: 4px;
  }
}
