.invoiceIssuance {
  padding: 0 15px 15px 15px;

  .invoiceIssuance-deprecated {
    border: solid 1px #868686;
    color: #868686;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }

  .invoiceIssuance-query {
    :deep(.ant-col-5) {
      width: 22%;
    }
  }

  .invoiceIssuance-search {
    padding-bottom: 15px;

    .invoiceIssuance-search-all {
      width: 300px;
      margin-right: 5px;
    }

    button {
      margin-right: 5px;
    }

    .ant-form-item {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .ant-calendar-picker {
      width: 100%;
    }

    .ant-form-item-label label {
      font-size: 14px;
    }
  }
}
