.sampleScanRecord {
  .hitek-form-layout {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
  }

  .hitek-form-layout-con {
    flex: 1;
  }
}
.hitek-form-layout-label{
  width: 110px !important;
  text-align: right;
}