.disqualification {
  .disqualification-search {
    padding-bottom: 10px;

    .disqualification-search-all {
      width: 300px;
      margin-right: 5px;
    }

    button {
      margin-right: 5px;
    }

    .ant-form-item {
      margin-bottom: 5px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    .ant-calendar-picker {
      width: 100%;
    }

    .ant-form-item-label label {
      font-size: 14px;
    }
  }
  .icon_dot{
    vertical-align: middle;
    width: 5px;
    height: 5px;
    background: #0b79eb;
    border-radius: 10px;
    display: inline-block;
  }
  .code_box{
    display: flex;
    align-items: center;
    .icon_font{
      font-size: 14px;
      font-weight: 900;
      cursor: pointer;
      margin: 0 5px;
      color: #a5a5a5;
    }
    .icon_font:hover{
      color: #0b79eb;
    }
  }
}