.testItemDetail-left-tree.ant-tree {
    .ant-tree-node-content-wrapper {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 85%;
      word-break: break-all;
    }
  }