.auditProcess {
  .auditProcess-tab {
    border-bottom: solid 1px #e2e2e2;

    & > span {
      display: inline-block;
      padding: 10px 15px;
      border-bottom: solid 2px transparent;
      cursor: pointer;

      &.active {
        border-color: #1890ff;
        color: #1890ff;
      }
    }
  }
  .ant-form{
    padding-bottom: 10px;
    .ant-form-item{
      margin-top: 8px;
    }
  }

  .table-handle a{
    margin: 0 4px;
  }
}

.handle-box{
  margin-bottom:5px;
  button {
    margin-right: 10px;
  }
}

.audit-detail .ant-modal-body{
  height: calc(100vh - 150px);
}