.mailListConfig {
    .mailListConfig-search {
        padding-bottom: 10px;
        
        input {
            width: 300px;
            vertical-align: middle;
        }

        button{
            vertical-align: middle;
        }
    }
}