.verification-wrap {
  width: 100%;
  height: calc(100vh - 20px);

  .verification-content {
    width: 100%;
    height: ~"calc(100% - 80px)";
    text-align: center;
    padding: 52px 0 0;
    box-sizing: border-box;
  }

  .verification-title {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin: 20px auto 40px;
  }

  .verification-item {
    width: 100%;
    word-break: break-all;
    font-size: 14px;
    color: #000;
    line-height: 20px;
    text-align: left;
    padding: 0 37px;
    margin-top: 8px;
  }

  .verification-button {
    position: fixed;
    bottom: 0;
    left: 24px;
    right: 24px;
    bottom: 24px;

    button:last-child {
      margin-top: 16px;
    }
  }
}