.setting {
  .setting-box {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 4px #dce3e9;
    margin: 15px 15px 0 15px;
    overflow: hidden;
  }

  .setting-bg {
    position: relative;

    .setting-bg-title {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      line-height: 52px;
      color: #fff;
      font-size: 16px;
      text-align: center;
    }

    .setting-bg-box {
      position: absolute;
      bottom: 45px;
      left: 20px;
      right: 20px;
      display: flex;
      align-items: center;
    }

    .setting-bg-img {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .setting-bg-con {
      flex: 1;
      padding-left: 15px;
      color: #fff;
      font-size: 13px;
    }
  }
}
