
//------------------主题相关-----------------
    
// 主题颜色
@theme_color: #4A8DE5;
@theme_color_hover: #6EA4EA;

@error_color: #FE6550;

@success_color: #24B276;

@warning_color: #FF9A2E;

@primary-color: @theme_color;
@primary-color-hover: @theme_color_hover;
@border-radius-base: 4px;

//------------------文字相关-----------------

//文字颜色正文/标题
@text1_color: #000;

//文字颜色正文/常规
@text2_color: #666;

//文字颜色次要信息
@text3_color: #999;



//------------------按钮相关-----------------


@border1_color: #f0f0f0;
