//body {
//    background: green;
//}
//
//h1, h2 {
//    font-weight: normal;
//}
//ul {
//    list-style-type: none;
//    padding: 0;
//}
//a {
//    color: #42b983;
//}

.expired-box {
    display: inline-block;
    float: right;
    color:  var(--colorError);
    padding-right: 10px;
}
.body-box {
    height: 100%;
}
.search-header {
    margin-bottom: 10px;
    &-all {
        height: 28px;
        line-height: 28px;
        i.anticon {
            font-size: 16px;
            margin-left: 10px;
        }
    }
}
