.equipmentRepair {
  padding-bottom: 64px;

  :deep(.van-empty__description) {
    word-break: break-word;
    padding: 0 15px;
  }

  .equipmentRepair-btns {
    margin: 15px 15px 0 15px;
    margin-top: 15px;
    border-top: solid 1px #e2e2e2;
    padding-top: 15px;

    .van-button {
      margin-bottom: 8px;
    }
  }

  :deep(.van-collapse-item__content) {
    padding: 0;
    background: transparent;
    color: inherit;
  }

  :deep(.van-field__label) {
    color: #333;
    text-align: right;
  }

  :deep(.van-field__control) {
    color: #666;
  }

  .reportDetail-notData {
    :deep(.van-empty__image) {
      width: 80px;
      height: auto;
    }
  }
}
