<configuration
	xmlns="https://tony19.github.io/logback-android/xml"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://tony19.github.io/logback-android/xml https://cdn.jsdelivr.net/gh/tony19/logback-android/logback.xsd"
>
	<property name="LOG_DIR" value="/data/data/cn.ilis.uhb/files"/>

	<!-- Create a logcat appender -->
	<appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Create a file appender for INFO-level messages -->
	<appender name="RollingInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>NEUTRAL</onMismatch>
		</filter>

		<file>${LOG_DIR}/app.log</file>

		<encoder>
			<pattern>%d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
			<fileNamePattern>${LOG_DIR}/app.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
			<maxFileSize>10MB</maxFileSize>
		</rollingPolicy>
	</appender>

	<!-- Create a file appender for ERROR-level messages -->
	<appender name="RollingError" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>

		<file>${LOG_DIR}/error.log</file>

		<encoder>
			<pattern>%d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
			<fileNamePattern>${LOG_DIR}/error.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
			<maxFileSize>10MB</maxFileSize>
		</rollingPolicy>
	</appender>

	<root level="ALL">
		<appender-ref ref="logcat"/>
		<appender-ref ref="RollingInfo"/>
		<appender-ref ref="RollingError"/>
	</root>
</configuration>
