.testTaskStatistic {
  //color: #0bead6;
  //ant-table-tbody > tr > td {
  //  padding: 10px 8px;
  //}
  .ant-table-tbody > tr >td:not(:first-child) {
     padding: 0;
     //background: chartreuse;
     span {
       //background: #f60;
       display: inline-block;
       width: 100%;
       height: 100%;
       text-align: center;
       line-height:35px;
     }
   }
  .ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td{
    height:35px;
  }
}


