.sort-column {
  display: flex;
  align-items: center;
  .sort-icon {
    display: flex;
    flex-direction: column;
    width: 20px;
    margin-left: 5px;
    line-height: 12px;
    cursor: pointer;
    i.anticon {
      font-size: 12px;
      color: #999;
      height: 10px;
      &.active {
        color: #18aeff;
      }
    }
  }
}
