.equipment {
  .equipment-row {
    .van-col {
      padding: 10px 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      border-bottom: solid 1px #f5f5f5;
      color: #777;

      .iconfont {
        margin-right: 4px;
      }
    }
  }

  .equipment-box {
    padding: 15px;
    background: #fff;
    display: flex;
    border-bottom: solid 1px #e2e2e2;

    .equipment-content {
      font-size: 14px;
      color: #444;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      div {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        font-weight: bold;
      }

      p {
        line-height: 20px;
        color: #888;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        padding-top: 4px;
      }
    }

    .equipment-link {
      align-items: center;
      color: #888;
    }
  }
}
