.testItem {
  .contractAndWorks {
    padding-top: 15px;

    //table tbody{
    //  td > div{
    //    display: inline;
    //  }
    //
    //.ant-table-row-indent+.ant-table-row-expand-icon {
    //    display: inline-block;
    //  }
    //}

    .contractAndWorks-search {
      padding-bottom: 15px;

      .contractAndWorks-search-all {
        width: 300px;
        margin-right: 5px;
      }

      button {
        margin-right: 5px;
      }
    }
    .contractAndWorks-spot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      display: inline-block;
    }
  }
}

.testItem-setPersonnel-modal {
  .testItem-setPersonnel-modal-input {
    border: 0;
  }
}

.testItem-setPersonnel-modal-tree {
  .ant-select-tree > li > .ant-select-tree-checkbox {
    display: none;
  }

  .ant-select-tree-title {
    color:  #314659!important;
  }
}
