::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: var(--colorBgContainer);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--colorFillContent);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--colorFillContentHover);
}
