.disqualification {
  .disqualification-search {
    padding-bottom: 15px;

    .disqualification-search-all {
      width: 400px;
      margin-right: 5px;
    }

    button {
      margin-right: 5px;
    }

    .ant-form-item {
      margin-bottom: 5px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    .ant-calendar-picker {
      width: 100%;
    }

    .ant-form-item-label label {
      font-size: 14px;
    }
  }
}

.ant-popconfirm-buttons{
  white-space: nowrap;
}