.paramScriotBox {
  .ant-form-item {
    margin-bottom: 5px;
    .ant-form-item-children {
      display: flex;
      width:280px;
      .hitek-form-label {
        width: 78px;
      }
    }
  }
  .box-left {
    padding: 0 15px;
  }
}
