.mt-15 {
  margin-top: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.container {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 15px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 1px rgba(0,0,0,.05);
}

.common-page {
  display: flex;
  flex-direction: column;

  .common-page-search {
    border: solid 1px #e2e2e2;
    padding: 15px;
    padding-top: 0;
  }

  .common-page-content {
    flex: 1;
    border: solid 1px #e2e2e2;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}