.title {
  padding-left: 15px;
  border-left: solid 4px #1890ff;
  margin-top: 15px;
  line-height: 24px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px;
  color: #444;
}

.subcontractDetail-report {
  border: solid 1px #e2e2e2;
  padding: 15px 15px 0 15px;
  border-radius: 4px;
  margin-bottom: 15px;
  background: #f5f5f5;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  position: relative;

  .subcontractDetail-delete {
    position: absolute;
    top: -9px;
    right: -9px;
    transition: all 0.5s;

    .anticon {
      font-size: 18px;
      transition: all 0.5s;
      cursor: pointer;
    }

    &:hover {
      top: -11px;
      right: -11px;

      .anticon {
        font-size: 22px;
      }
    }
  }

  .hitek-form-layout .hitek-form-layout-label {
    width: 85px;;
  }
}
