@font-face {
  font-family: "iconfont"; /* Project id 1210246 */
  src: url('iconfont.woff2?t=1706160662865') format('woff2'),
       url('iconfont.woff?t=1706160662865') format('woff'),
       url('iconfont.ttf?t=1706160662865') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gou:before {
  content: "\e612";
}

.icon-file-group:before {
  content: "\e607";
}

.icon-sousuo:before {
  content: "\e641";
}

.icon-wendang:before {
  content: "\e6b9";
}

.icon-bianji:before {
  content: "\e63e";
}

.icon-a-zu904:before {
  content: "\e648";
}

.icon-a-zu478:before {
  content: "\e643";
}

.icon-a-zu902:before {
  content: "\e644";
}

.icon-a-zu8911:before {
  content: "\e646";
}

.icon-a-zu892:before {
  content: "\e647";
}

.icon-shouye:before {
  content: "\e63c";
}

.icon-mobanguanlihui:before {
  content: "\e63b";
}

.icon-wodehui:before {
  content: "\e63d";
}

.icon-xiangmujiancehui:before {
  content: "\e642";
}

.icon-nav-yangpin:before {
  content: "\e63a";
}

.icon-nav-setting:before {
  content: "\e62b";
}

.icon-nav-manage:before {
  content: "\e630";
}

.icon-nav-third-router:before {
  content: "\e633";
}

.icon-nav-fenbao:before {
  content: "\e634";
}

.icon-nav-jinying:before {
  content: "\e635";
}

.icon-nav-sys-manage:before {
  content: "\e637";
}

.icon-nav-home:before {
  content: "\e629";
}

.icon-nav-zhiliangguanli:before {
  content: "\e62a";
}

.icon-nav-equipment:before {
  content: "\e62e";
}

.icon-nav-weituo:before {
  content: "\e623";
}

.icon-nav-shiyanjiance:before {
  content: "\e626";
}

.icon-nav-common:before {
  content: "\e627";
}

.icon-nav-zhihuigongdi:before {
  content: "\e622";
}

.icon-nav-report:before {
  content: "\e621";
}

.icon-jinzhi:before {
  content: "\e60a";
}

.icon-file-text-line:before {
  content: "\e751";
}

.icon-shezhi:before {
  content: "\e67b";
}

.icon-question1:before {
  content: "\e691";
}

.icon-line-tips:before {
  content: "\e6aa";
}

.icon-qian:before {
  content: "\e631";
}

.icon-archive:before {
  content: "\e632";
}

.icon-fasong:before {
  content: "\e636";
}

.icon-fenpei:before {
  content: "\e616";
}

.icon-zhongzhi:before {
  content: "\e704";
}

.icon-piliang:before {
  content: "\e611";
}

.icon-guanlian:before {
  content: "\e723";
}

.icon-chazhao2:before {
  content: "\e610";
}

.icon-zuzhi-:before {
  content: "\e606";
}

.icon-department:before {
  content: "\e7d8";
}

.icon-submit:before {
  content: "\e67f";
}

.icon-expand:before {
  content: "\e601";
}

.icon-expandRow:before {
  content: "\e603";
}

.icon-standard:before {
  content: "\e6e8";
}

.icon-combination:before {
  content: "\e729";
}

.icon-star:before {
  content: "\e62d";
}

.icon-icon-inspect:before {
  content: "\e62c";
}

.icon-navicon-dbd:before {
  content: "\e675";
}

.icon-baoyang:before {
  content: "\e60b";
}

.icon-xunhuan:before {
  content: "\e625";
}

.icon-repair:before {
  content: "\e602";
}

.icon-morelist:before {
  content: "\e628";
}

.icon-contrast:before {
  content: "\e6e2";
}

.icon-down:before {
  content: "\e605";
}

.icon-recycle:before {
  content: "\e665";
}

.icon-stamp:before {
  content: "\e638";
}

.icon-ok:before {
  content: "\e608";
}

.icon-undo1:before {
  content: "\e674";
}

.icon-back:before {
  content: "\e6c1";
}

.icon-man:before {
  content: "\e680";
}

.icon-undo:before {
  content: "\e9de";
}

.icon-cancel:before {
  content: "\e74c";
}

.icon-select:before {
  content: "\e7c0";
}

.icon-redo:before {
  content: "\e76c";
}

.icon-accessory:before {
  content: "\e6b8";
}

.icon-printsee:before {
  content: "\e9dc";
}

.icon-putout:before {
  content: "\e6c8";
}

.icon-put:before {
  content: "\e62f";
}

.icon-remove:before {
  content: "\e792";
}

.icon-log:before {
  content: "\e663";
}

.icon-detail:before {
  content: "\e620";
}

.icon-search:before {
  content: "\e624";
}

.icon-save:before {
  content: "\e65b";
}

.icon-print:before {
  content: "\e662";
}

.icon-copy:before {
  content: "\e66e";
}

.icon-delete:before {
  content: "\e671";
}

.icon-tip:before {
  content: "\e661";
}

.icon-chart:before {
  content: "\e645";
}

.icon-add:before {
  content: "\e60e";
}

.icon-lock:before {
  content: "\e613";
}

.icon-user:before {
  content: "\e700";
}

.icon-shapes:before {
  content: "\e907";
}

.icon-help:before {
  content: "\e696";
}

.icon-upload:before {
  content: "\e6b7";
}

.icon-edit:before {
  content: "\e639";
}

.icon-clear:before {
  content: "\e604";
}

.icon-userH:before {
  content: "\e7e9";
}

.icon-reback:before {
  content: "\e60f";
}

.icon-pic:before {
  content: "\e774";
}

.icon-upload-cloud:before {
  content: "\e61e";
}

.icon-more:before {
  content: "\e655";
}

.icon-filter:before {
  content: "\e71c";
}

.icon-refresh:before {
  content: "\e600";
}

.icon-setting:before {
  content: "\e63f";
}

.icon-download:before {
  content: "\e640";
}

.icon-reload:before {
  content: "\e9dd";
}

