.subcontractDetail {
  .subcontractDetail-stitle {
    padding-left: 15px;
    border-left: solid 4px #1890ff;
    margin-top: 15px;
    line-height: 24px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
    color: #444;
  }

  .subcontractDetail-title {
    font-size: 16px;
    border: solid 1px #e2e2e2;
    padding: 8px;
    padding-left: 15px;
    margin-bottom: 15px;

    strong {
      vertical-align: middle;
    }

    .subcontractDetail-title-tag {
      font-size: 12px;
      padding: 2px 6px;
      border-radius: 3px;
      margin-left: 5px;
      vertical-align: middle;
      color: #4caf50;
      background: rgba(76, 175, 80, 0.2);
      border: solid 1px #4caf50;

      &.blue {
        color: #2196f3;
      }
    }
  }

  .subcontractDetail-info {
    padding-top: 10px;

    button {
      margin-left: 10px;
      font-size: 12px;
    }
  }

  .subcontractDetail-tab {
    .subcontractDetail-tab-btn {
      border-bottom: solid 1px #e2e2e2;

      a {
        display: inline-block;
        padding: 8px 15px;
        border-bottom: solid 2px transparent;
        text-decoration: none;
        color: #2a2a2a;

        &.router-link-exact-active.router-link-active {
          border-color: #40a9ff;
          color: #40a9ff;
        }
      }
    }
  }
}
