/*淡绿*/
.webTheme-green {
  background: #eaffff;
  border: solid 1px #e2e2e2;

  .ant-input,
  .ant-btn-default {
    background: #f5ffff;
  }

  .ant-input:focus {
    border-color: #64cedc;
    box-shadow: 0 0 0 2px rgb(204, 255, 255);
  }
  
  .ant-btn-default:hover,
  .ant-btn-default:focus {
    color: #64cedc;
    background-color: #f5ffff;
    border-color: #64cedc;
  }

  .ant-table-thead > tr > th {
    background: #e4fdfd;
  }

  .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, 
  .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, 
  .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td, 
  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: #64cedc;
  }

  .ant-pagination-item-active {
    border-color: #64cedc;
  }

  .ant-table-placeholder,
  .ant-pagination-options-quick-jumper input,
  .ant-select-selection,
  .ant-pagination-next .ant-pagination-item-link,
  .ant-pagination-prev .ant-pagination-item-link {
    background-color: #f5ffff;
  }
}