// 第二种
.sample-query-box {
  height: 100%;
  overflow: hidden;
  .ant-spin-nested-loading {
    height: 100%;
  }
  .body-box-content{
    display: flex;
    padding-top:10px;
    .content-left{
      width:300px;
    }
    .content-right{
      flex:1;
      margin-left:10px;
    }
    .content-left,
    .content-right {
      overflow: auto;
    }
  }

}

