.checkManageSubmit {
  .checkManageSubmit-form {
    padding-bottom: 40px;

    .ant-form-item-label {
      width: 100px;
    }
  }

  .checkManageSubmit-submit {
    text-align: right;
    position: fixed;
    bottom: 15px;
    right: 20px;
    background: #fff;
    z-index: 1000;
  }
}