.controlledCodeManage {
    padding: 15px;

    .controlledCodeManage-btn {
        padding-bottom: 15px;

        button {
            margin-right: 8px;
        }
    }

    .controlledCodeManage-add {
        margin-top: 15px;
        font-size: 20px;
        color: #1890ff;
        cursor: pointer;
    }

    .controlledCodeManage-icon .anticon {
        color: #1890ff;
        margin-right: 8px;
    }
    .query_box{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .query_box .input_item{
        display: flex;
    width: 265px;
    align-items: center;
    }
    .query_box .input_item span{
            text-align: right;
    }
    .query_box .input_item input{
        width: 200px;
    }
   
}
:deep(.ant-checkbox-group-item){
    margin-top: 8px;
    width: 100%;
}