.mailListConfig {
    .mailListConfig-search {
        padding-bottom: 10px;

        .query_row {
            margin: 5px 5px;
            display: inline-block;
        }

        input {
            vertical-align: middle;
        }

        button {
            vertical-align: middle;
        }
    }


}

.ant-tabs-bar {
    padding: 0 8px !important;
    margin-bottom: 8px !important;
}