.from_wrap {
  display: flex;
  flex-flow: wrap;


  .input_box {
    margin: 5px;

    .lable {
      display: inline-block;
      width: 100px;
      text-align: right;
    }

    .value {
      display: inline-block;
      width: 300px;
    }
  }


}

.tle {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  border-top: solid 1px #e2e2e2;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.tip_box{
  margin: 10px 0;
  padding: 10px;
  background: rgb(230 247 255);
  border: 1px solid #8cd1f2;
}