.yljc-layout.data-screen-wrap {
  #app {
    background: #f5faf7;
  }

  .screen-warp {
    display: flex;
    flex-direction: column;
  }

  .body-warp {
    height: 0;
    flex: 1;
    padding-top: 0.44rem;

    .left-warp,
    .right-warp {
      width: 4.4rem;
    }
  }

  .screen-header {
    color: #238D42;
    background: url("/src/assets/images/dataScreen/yljc/home-top-bg.png") no-repeat center center / 100% 100%;
    font-size: 0.5rem;
    height: .76rem;
    line-height: 0.68rem;

    iframe {
      top: 0.76rem;
    }

    .head-right {
      color: #224059;
      top: 0.84rem;
      line-height: normal;

      .address {
        background: url("/src/assets/images/dataScreen/yljc/address.png") no-repeat 0 center / 0.16rem 0.16rem;
      }

      .date {
        background: url("/src/assets/images/dataScreen/yljc/date.png") no-repeat 0 center / 0.16rem 0.16rem;
      }
    }
  }

  .s-card {
    background: #F5FAF7;
    box-shadow: 0px 4px 10px 0px rgba(35, 141, 66, 0.1);

    .card-head-icon {
      display: none; 
    }

    &:not(.no-border):not(.hide-border) {
      border: 1px solid transparent;
      border-radius: 4px;
      border-image: linear-gradient(180deg, rgba(185, 225, 199, 0) 0%, #B9E1C7 100%) 1;
      background-origin: border-box;
      background-clip: content-box, border-box;
    }

    &::before,
    &::after {
      display: none;
    }

    .s-card-head {
      color: #238D42;
      font-size: 0.24rem;
      text-shadow: none;
      background: url("/src/assets/images/dataScreen/yljc/title-bg.png") no-repeat;
      border: 0;
      padding-left: 0.48rem;
      background-position: left!important;
      background-size: 100% 100%;
      height: 0.58rem;
      padding-top: 4px;
      background-color: #f4fff8;
    }

    &.s-card-long {
      .s-card-head {
        background: url("/src/assets/images/dataScreen/yljc/long-title-bg.png") no-repeat;
        background-color: #f4fff8;
      }
    }
  }
  .statistics {
    .statistics-item {
      .title {
        color: #000;
        text-shadow: none;
        font-weight: bold;
      }
    }

    .statistics-item-box {
      color: #000000;
      border-radius: 50%;
      width: 0.8rem;
      height: 0.8rem;
      font-size: 0.2rem;

      &.one {
        background: url("/src/assets/images/dataScreen/yljc/jcrwsjtj-1.png") no-repeat center / 100% 100%;
      }

      &.two {
        background: url("/src/assets/images/dataScreen/yljc/jcrwsjtj-2.png") no-repeat center / 100% 100%;
      }

      &.three {
        background: url("/src/assets/images/dataScreen/yljc/jcrwsjtj-3.png") no-repeat center / 100% 100%;
      }

      &.four {
        background: url("/src/assets/images/dataScreen/yljc/jcrwsjtj-4.png") no-repeat center / 100% 100%;
      }
    }
  }

  .consign-param-num {
    .param-info {
      color: #000;
      
      span {
        color: #000;
      }
    }

    .item:first-child .bar .bar-thumb {
      background: linear-gradient(90deg, #F68844 0%, #FFAC20 99%);
    }

    .bar .bar-thumb {
      background: linear-gradient(89deg, #28D665 0%, #73FFA5 99%);
    }
    
    .bar {
      background: #EAF7EF;
    }
  }
  
  .task-list {
    color: #000;

    .thead {
      color: #000;
    }
  }

  .use-status-box {
    .use-status-list {
      color: #063E16;

      .item {
        background: linear-gradient(180deg, rgba(0, 179, 64, 0) 0%, rgba(0, 179, 64, 0.1) 100%);
        border-top: 0;
        position: relative;

        .lab-name {
          padding-top: 0.16rem;
        }

        .item-status {
          color: #000;
          padding-top: 0;

          .wendu {
            background: url("/src/assets/images/dataScreen/yljc/wendu.png") no-repeat 0 center / 16px 16px;
          }

          .shidu {
            background: url("/src/assets/images/dataScreen/yljc/shidu.png") no-repeat 0 center / 16px 16px;
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 0px;
          left: 0;
          width: 100%;
          height: 2px;
          background: linear-gradient(270deg, rgba(0, 255, 75, 0) 0%, rgba(0, 255, 75, 0.3) 100%);
        }
      }
    }
  }

  .person-statistics {
    .person-statistics-circle {
      background: url("/src/assets/images/dataScreen/yljc/rytj-circle.png") no-repeat center / 100% 100%;

      span {
        color: #fff;
      }
    }

    .person-statistics-count,
    .person-statistics-title {
      color: #000;
      font-weight: normal;
    }

    .person-statistics-bar {
      &.one {
        border-image-source: url(/src/assets/images/dataScreen/yljc/rytj-bar-1.png);
        border-image-slice: 24 0 24 64 fill;
        border-image-width: 0.25rem 0 0.24rem 0.64rem;
      }

      &.two {
        border-image-source: url(/src/assets/images/dataScreen/yljc/rytj-bar-2.png);
        border-image-slice: 24 0 24 64 fill;
        border-image-width: 0.25rem 0 0.24rem 0.64rem;
      }

      &.three {
        border-image-source: url(/src/assets/images/dataScreen/yljc/rytj-bar-3.png);
        border-image-slice: 24 0 24 64 fill;
        border-image-width: 0.25rem 0 0.24rem 0.64rem;
      }
    }
  }

  .video-warp {
    &.video-warp-normal {
      .no-lab-data {
        background: #EAF7EF;
        color: #22592F;
      }

      .all-more-layer {
        background: rgb(35, 141, 66, 0.8);
        border: 1px solid rgba(76, 175, 80, 0.6);

        .all-more-layer-item.active,
        .all-more-layer-item:hover {
          background: linear-gradient(270deg, #89DCA6 0%, #3AD872 100%);
          border-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%) 1;
        }
      }

      .videos {
        .video-more {
          .icon-more-svg {
            background: url("@/assets/images/dataScreen/yljc/more-g.svg") center/100% 100%;
          }
        }

        .video-lab-item {
          background: #EAF7EF;
          color: #22592F;

          &.active,
          &:hover {
            background: linear-gradient(270deg, #89DCA6 0%, #3AD872 100%);
            border-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%) 1;
          }
        }
      }
    }

    .video-company {
      &:hover {
        background: linear-gradient(270deg, #89DCA6 0%, #3AD872 100%)!important;
        border-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%) 1!important;
      }

      .icon-camera {
        background: url("@/assets/images/dataScreen/yljc/camera-g.svg") center/100% 100%;
      }
    }

    .show-video {
      box-shadow: 0px 4px 10px 0px rgba(34, 141, 66, 0.1);
      border: 1px solid #B9E1C7;
      background: #FFFFFF;
    }

    .show-video::before {
      border-top: 2px solid #02BB42;
      border-left: 2px solid #02BB42;
    }

    .show-video::after {
      border-top: 2px solid #02BB42;
      border-right: 2px solid #02BB42;
    }

    .show-video .border::before {
      border-bottom: 2px solid #02BB42;
      border-left: 2px solid #02BB42;
    }

    .show-video .border::after {
      border-bottom: 2px solid #02BB42;
      border-right: 2px solid #02BB42;
    }
  }

  .video-list-popover {
    .ant-popover-arrow {
      display: none;
    }

    .ant-popover-inner {
      background: #238d42;
      border: 1px solid rgba(76, 175, 80, 0.6);
    }

    .video-list-popover-ul li:hover {
      background: linear-gradient(270deg, #89DCA6 0%, #3AD872 100%);
    }
  }

  .sample-statistics {
    padding: 0.14rem 0.06rem;
    gap: 0.24rem;

    .sample-statistics-item {
      width: calc(50% - 0.12rem);
      background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #DEF3E4 100%);
      border: 1px solid;
      border-right: 0;
      border-image: linear-gradient(270deg, rgba(125, 255, 162, 0) 0%, #C1EECE 100%) 1;
    }

    .sample-statistics-title {
      color: #22592F;
      font-size: 0.14rem;
    }

    .sample-statistics-count {
      color: #000;
      font-size: 0.18rem;
    }

    .sample-statistics-icon {
      width: 0.48rem;
      height: 0.48rem;
      margin-right: 0.42rem;
    }

    .sample-statistics-icon.one {
      background: url("/src/assets/images/dataScreen/yljc/ypsltj-1.png") no-repeat center / 100% 100%;
    }

    .sample-statistics-icon.two {
      background: url("/src/assets/images/dataScreen/yljc/ypsltj-2.png") no-repeat center / 100% 100%;
    }

    .sample-statistics-icon.three {
      background: url("/src/assets/images/dataScreen/yljc/ypsltj-3.png") no-repeat center / 100% 100%;
    }

    .sample-statistics-icon.four {
      background: url("/src/assets/images/dataScreen/yljc/ypsltj-4.png") no-repeat center / 100% 100%;
    }
  }

  .device-statistics {
    height: 100%;
    padding: 0.1rem 0.06rem;
    position: relative;

    .device-statistics-circle {
      background: linear-gradient(180deg, #FFD15C 0%, #F68844 100%);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;

      &::after {
        content: "";
        width: calc(100% + 0.12rem);
        height: calc(100% + 0.12rem);
        left: 50%;
        top: 50%;
        border: solid 1px #FFD15C;
        position: absolute;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }

      div,
      p {
        color: #fff;
      }
    }

    .device-statistics-info {
      p {
        color: #22592F;
      }

      div {
        color: #000;
      }
    }

    .device-statistics-icon {
      width: 0.4rem;
      height: 0.4rem;
    }

    .device-statistics-icon.one {
      background: url(/src/assets/images/dataScreen/yljc/sbtj-1.png) no-repeat center / 100% 100%;
    }

    .device-statistics-icon.two {
      background: url(/src/assets/images/dataScreen/yljc/sbtj-2.png) no-repeat center / 100% 100%;
    }

    .device-statistics-icon.three {
      background: url(/src/assets/images/dataScreen/yljc/sbtj-3.png) no-repeat center / 100% 100%;
    }

    .device-statistics-icon.four {
      background: url(/src/assets/images/dataScreen/yljc/sbtj-4.png) no-repeat center / 100% 100%;
    }

    .device-statistics-item-box {
      display: flex;
      flex-direction: column;

      .device-statistics-item {
        flex: 1;
        border-image-width: 0;
      }

      &.left {
        margin-right: 0.08rem;

        .device-statistics-item {
          justify-content: flex-start;
          padding-left: 0.22rem;
          gap: 0.24rem;
        }

        // .device-statistics-info {
        //   margin-right: 0;
        // }

        .device-statistics-item:first-child {
          background: url(/src/assets/images/dataScreen/yljc/sbtj-bg-1.png) no-repeat 100% 100%;
        }
        .device-statistics-item:last-child {
          background: url(/src/assets/images/dataScreen/yljc/sbtj-bg-3.png) no-repeat 100% 100%;
        }
      }

      &.right {
        margin-left: 0;
        // .device-statistics-info {
        //   margin-left: 0;
        // }

        .device-statistics-item {
          justify-content: flex-end;
          padding-right: 0.22rem;
          gap: 0.24rem;
        }

        .device-statistics-item:first-child {
          background: url(/src/assets/images/dataScreen/yljc/sbtj-bg-2.png) no-repeat 100% 100%;
        }
        .device-statistics-item:last-child {
          background: url(/src/assets/images/dataScreen/yljc/sbtj-bg-4.png) no-repeat 100% 100%;
        }
      }
    }
  }
}