.rt_wrap {
  height: 400px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  ul {
    margin-bottom: 20px;
    max-width: 501px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    display: inline-block;
  }
  ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-left: none;
    border-top: none;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
    text-align: center;
  }
  ul li:hover {
    background: #eeeeee;
  }
}
