/**高级查询开始*/
.seniorList {
  background: #f2f2f2;
  border: solid 1px #e2e2e2;
  padding: 5px 10px;
  margin-top: 8px;
  font-size: 12px;
}
.seniorList .seniorList-title {
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  float: left;
  width: 66px;
}
.seniorList-content {
  display: inline-block;
  width: calc(100% - 66px);
}
.senior-items {
  height: 24px;
  line-height: 22px;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 5px !important;
  max-width: 400px;
  display: inline-block;
  position: relative;
}
.senior-items .senior-items-span {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  padding-right: 10px;
  &:hover {
    border-color: #84bff0;
    .anticon-close {
      color: #84bff0;
    }
  }
  .anticon-close {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
.senior-items.layui-btn-primary:hover {
  color: #666;
  border-color: #84bff0;
  cursor: default;
}
.senior-items.layui-btn .layui-icon {
  font-size: 12px;
  position: relative;
  right: 0;
  top: -5px;
  height: 100%;
  display: inline-block;
}
.senior-items.layui-btn-primary:hover .layui-icon{
  color: #84bff0;
  cursor: pointer;
}
:root .ant-tag .anticon-close{
  margin-left: 9px;
}