.sampleScanRecord {
  .hitek-form-layout {
    margin-bottom: 15px;
  }

  .sampleScanRecord-search {
    margin-bottom: 10px;
    padding-left: 10px;
  }

  :deep(.ant-table) {
    margin-top: 15px;
  }
}
.hitek-form-layout-label{
  width: 100px !important;
}

.more-text{
  max-height: 32px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}