.archiving{
  .ant-spin-container {
    height: 100%;
  }
  .dataCollection-search {
    padding-bottom: 15px;

    .dataCollection-search-all {
      width: 300px;
      margin-right: 5px;
    }

    button {
      margin-right: 5px;
    }

    .ant-form-item {
      margin-bottom: 5px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    .ant-calendar-picker {
      width: 100%;
    }

    .ant-form-item-label label {
      font-size: 12px;
    }
  }
  .btn-class {
    padding: 5px 0;
    border-bottom: 1px solid var(--colorBorder);
    border-top: 1px solid var(--colorBorder);
    margin-top: 5px;
  }
}