.deviceRecord-wrap {
  width: 100%;
  background-color: #f5f5f5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  .status-tag {
    width: 48px;
    height: 48px;
    background: #333;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;

    span {
      font-size: 12px;
      position: absolute;
      left: 32px;
      top: 6px;
      transform: translateX(-50%) rotate(45deg) scale(0.8);
      width: 100%;
      text-align: center;
    }

    &.warning {
      background: #ff6666;
    }

    &.normal {
      background: #24b276;
    }
  }

  .container {
    padding: 0 15px 20px 15px;
    height: calc(100% - 112px);
    overflow-y: auto;

    .flex {
      display: flex;
    }

    .just-space {
      justify-content: space-between;
    }

    .align {
      align-items: center;
    }

    .item {
      margin-top: 16px;
      border-radius: 4px;
      padding: 12px;
      position: relative;

      .item1 {
        line-height: 28px;
        height: 28px;
        font-size: 12px;
        color: #666;

        .itemtitle {
          margin-right: 4px;
        }

        .error,
        .success {
          display: inline-block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          margin-right: 4px;
        }

        .error {
          background-color: #ddd;
        }

        .success {
          background-color: green;
        }
      }
    }
  }

  .loading {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    color: #969799;
    font-size: 14px;
  }
}